[submodule "contracts/lib/fuzzlib"]
	path = contracts/lib/fuzzlib
	url = https://github.com/perimetersec/fuzzlib
[submodule "fraxlend/lib/forge-std"]
	path = fraxlend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "fraxlend/lib/ds-test"]
	path = fraxlend/lib/ds-test
	url = https://github.com/dapphub/ds-test
